<!doctype html>
<html lang="en">
  <head>
    <%- include('../partial/header'); %>
    <title> <%=page_title%> </title>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3 ">
      <div class="container ">
        
        <a class="navbar-brand" href="#">
          <img src="/static/assets/camping(1).svg" alt="" width="60" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item justify-content-center">
              <a class="nav-link" href="#">Cari Kontraktor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Proyek Baru</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

</head>
  <body>
    <div class="container-fluid">
      
      <div class="bg-image" style="background-image: url('/static/assets/spectrum-gradient.svg'); background-repeat: no-repeat; height: 90vh;">

          <h1 class="text-white mb-0"><%=page_name%></h1>
      </div>

    <h1>  </h1>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </div>
  </body>
</html>
